/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');

$primary-color: #212121;
$secondary-color: #651fff;
$focus-color: #651fff;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: $primary-color;
  margin: 2em 3em;
}

a {
  font-family: 'IBM Plex Mono', monospace;
  text-decoration: none;
  color: $primary-color;
  padding-bottom: 4px;
  border-bottom: 2px solid $secondary-color;

  &:focus {
    outline: 3px dotted $focus-color;
    border-bottom: none;
  }

  &.no-underline {
    padding-bottom: none;
    border-bottom: none;
  }
}

.external-link {
  color: inherit;
  font-weight: inherit;
  margin: -8px 0;
  outline: 0;
  padding: 8px 0;
  position: relative;

  &::after {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgaWQ9IjI0IC8gYmFzaWMgLyBsaW5rIj4KPHBhdGggaWQ9Imljb24iIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTAgMTVWMTdINkMzLjIzODU4IDE3IDEgMTQuNzYxNCAxIDEyQzEgOS4yMzg1OCAzLjIzODU4IDcgNiA3SDEwVjlINkM0LjM0MzE1IDkgMyAxMC4zNDMxIDMgMTJDMyAxMy42NTY5IDQuMzQzMTUgMTUgNiAxNUgxMFpNMTQgOVY3SDE4QzIwLjc2MTQgNyAyMyA5LjIzODU4IDIzIDEyQzIzIDE0Ljc2MTQgMjAuNzYxNCAxNyAxOCAxN0gxNFYxNUgxOEMxOS42NTY5IDE1IDIxIDEzLjY1NjkgMjEgMTJDMjEgMTAuMzQzMSAxOS42NTY5IDkgMTggOUgxNFpNMTcgMTFIN1YxM0gxN1YxMVoiIGZpbGw9ImJsYWNrIi8+CjwvZz4KPC9zdmc+Cg==) no-repeat center;
    background-size: 16px;
    bottom: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    margin-top: 2px;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 24px;
  }
}

ul {
  margin-bottom: 2em;
  list-style: none;
}

li {
  line-height: 2;

  a {
    margin-right: .5em;
  }

  .external-link {
    margin-right: 2.5em;
  }
}

button, .btn {
  background-color: $secondary-color;
  color: $white;
  border-radius: 6px;
  font-weight: 500;
  outline: 0;
  padding: 8px;
  width: auto;
  text-decoration: none;
  align-self: center;
  vertical-align: middle;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 3px dotted $focus-color;
    border-bottom: none;
  }

  .btn-icon {
    vertical-align: middle;
  }
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: 2px solid hsl(180, 05%, 92%);
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: hsl(198, 45%, 10%);
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  line-height: 24px;
  margin: 0;
  padding: 6px 14px;
  width: 100%;

  &:focus, &:hover {
    border-color: $focus-color;
    -webkit-box-shadow: 0 0 1px 0 $focus-color;
    box-shadow: 0 0 1px 0 $focus-color;
    outline: none;
  }
}

label {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

// Helper things
.sr-only {
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

// Navigation things
nav {
  display: flex;
  justify-content: space-between;

  .logo, a {
    display: inline-block;
    height: 48px;
  }

  li {
    display: inline-block;
    vertical-align: middle;
  }
}

.profile_image {
  border-radius: 50%;
  border: 2px solid $secondary-color;
}