$primary-color: #242629;
$secondary-color: #72757e;
$tertiary-color: #2cb67d;
$highlight-color: #7f5af0;
$focus-color: #7f5af0; // change this
$like-color: #ee1b4b;
$unlike-color: #94a1b2;
$white-color: #fffffe;
$card-bg: #16161a;