<nav role='navigation'>
  <%= link_to root_url, class: 'no-underline logo' do %>
    <span class='sr-only'>Home</span>
    <svg width="38" height="48" viewBox="0 0 38 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.6755 23.7462C17.9413 21.9696 17.8001 20.0985 16.9223 16.7327C15.1864 10.0762 15.8777 6.42776 21.862 2.10827L24.7828 0L25.4893 3.53227C26.24 7.28622 27.473 9.60803 30.6388 14.0741C30.7646 14.2515 30.7646 14.2515 30.8909 14.4297C35.4511 20.8632 37.1167 24.7415 37.1167 31.7845C37.1167 40.3286 28.4793 48 18.5848 48C8.68963 48 0.0527841 40.3296 0.0527841 31.7845C0.0527841 31.6248 0.0529478 31.6297 0.0258862 30.9238C-0.183422 25.4647 0.826052 21.192 4.91063 16.5787C5.77363 15.604 6.7546 14.6672 7.85851 13.7708L10.2954 11.7919L11.4677 14.704C12.3339 16.8558 13.3488 18.5473 14.4952 19.7886C15.4662 20.8399 16.1866 22.162 16.6755 23.7462ZM8.37942 19.65C5.23508 23.2013 4.48753 26.3654 4.6555 30.7464C4.68677 31.5619 4.6858 31.5332 4.6858 31.7846C4.6858 37.6404 11.134 43.367 18.5848 43.367C26.0349 43.367 32.4837 37.6394 32.4837 31.7846C32.4837 25.8965 31.1674 22.8314 27.1112 17.1089C26.9855 16.9316 26.9855 16.9316 26.8591 16.7534C24.3958 13.2783 22.9275 10.861 21.956 8.1575C20.3696 10.0586 20.4629 11.9493 21.4054 15.5637C23.1413 22.2202 22.4501 25.8686 16.4658 30.1881L13.0536 32.6511L12.7978 28.4506C12.6344 25.7669 12.0269 23.9445 11.0918 22.932C10.1679 21.9318 9.33377 20.7607 8.58573 19.4209C8.51596 19.4971 8.44719 19.5734 8.37942 19.65Z" fill="#7F5AF0"/>
    </svg>
  <% end %>
  <ul>
  <% if current_user %>
    <li>
      <%= link_to new_thing_path, class: 'no-underline' do %>
        <span class='sr-only'>Add a thing</span>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23ZM12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21ZM17 11H13V7H11V11H7V13H11V17H13V13H17V11Z" fill="black"/>
        </svg>
      <% end %>
    </li>
    <% if current_user.profile_image %>
      <li><%= link_to image_tag(current_user.profile_image, class: 'profile_image', size: '48x48', alt: current_user.name), things_path(user_id: current_user), {class: 'no-underline'} %></li>
    <% end %>
    <li><%= link_to 'Edit profile', edit_user_path(current_user) %>
  <% else %>
    <li>
      <a href='https://intense-sands-21166.herokuapp.com/auth/github' class='btn primary-btn'>
        Login in with
        <span class='sr-only'>GitHub</span>
        <span class='btn-icon'>
          <svg width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0172 20.0036C10.0224 20.1265 10.0092 20.2464 9.9833 20.3677C9.93785 20.5809 9.85007 20.8065 9.72581 21.015C9.37259 21.6075 8.77254 22.0029 8 22.0029C6.1801 22.0029 5.46584 21.1101 4.57152 18.8743C3.96584 17.3601 3.6801 17.0029 3 17.0029L3 15.0029C4.8199 15.0029 5.53416 15.8958 6.42848 18.1315C7.03416 19.6458 7.3199 20.0029 8 20.0029C8 19.7128 7.99603 19.4557 7.98766 19.1077C7.96806 18.2919 7.96581 18.1253 8.0014 17.9072C8.01562 17.4311 8.13854 17.0933 8.385 16.7581C6.15319 16.2722 4.64792 15.2689 3.78397 13.6414L3.46034 12.8803C3.14505 11.9742 3 10.9475 3 9.76183C3 8.39627 3.41635 7.17529 4.19402 6.15467C3.95143 5.18453 3.98465 3.99922 4.52031 2.6606L4.69534 2.2232L5.14407 2.07966C5.20415 2.06044 5.27718 2.04309 5.36299 2.02962C6.23676 1.89248 7.4801 2.21968 9.10555 3.26084C10.0638 3.03872 11.0728 2.92657 12.0888 2.92657C12.9966 2.92657 13.8995 3.0181 14.7616 3.19854C16.3431 2.20821 17.5522 1.8976 18.4025 2.02979C18.4873 2.04298 18.5596 2.06001 18.6192 2.0789L19.0707 2.22209L19.246 2.66216C19.7146 3.8389 19.795 4.92336 19.6245 5.87229C20.5185 6.945 21 8.26378 21 9.76183C21 11.0248 20.9095 11.9744 20.6494 12.8983L20.3749 13.6517C19.6563 15.2774 18.0715 16.292 15.6275 16.7752C15.8816 17.127 16 17.484 16 18.0029V19.0029C16 19.4875 16 19.5025 15.9989 20.0029C16.0012 20.0389 16.0042 20.0565 16.0074 20.0674C16.0066 20.0677 16 22.0029 16 22.0029C15.1482 22.0029 14.5149 21.5875 14.2034 20.9323C14.0419 20.5925 13.9936 20.2681 14 19.9887V18.0029C14 17.9191 13.9971 17.9142 13.7929 17.71C13.2471 17.1642 13 16.7524 13 16.0029V15.0983L13.9001 15.0079C16.5793 14.7389 18.0365 13.9948 18.5197 12.9078L18.7455 12.2906C18.9251 11.6452 19 10.8593 19 9.76183C19 8.59574 18.5929 7.63247 17.823 6.86286L17.3998 6.43984L17.5725 5.86696C17.726 5.35801 17.7624 4.75579 17.6001 4.0689C17.5731 4.07573 17.5451 4.08318 17.516 4.09128C16.9805 4.24035 16.312 4.56021 15.5064 5.09869L15.139 5.34429L14.7101 5.23792C13.8804 5.0322 12.9889 4.92657 12.0888 4.92657C11.0879 4.92657 10.0985 5.05392 9.18446 5.3031L8.73841 5.4247L8.35682 5.16366C7.52363 4.59367 6.83145 4.25471 6.27642 4.09637C6.23678 4.08506 6.19904 4.07494 6.16316 4.06592C5.96952 4.86091 6.04611 5.51406 6.24223 6.00416L6.47738 6.59181L6.04689 7.05582C5.3609 7.7952 5 8.69497 5 9.76183C5 10.7386 5.11434 11.548 5.32388 12.1576L5.58557 12.7771C6.23974 14.0046 7.6292 14.7431 10.1066 15.0086L11 15.1044V16.0029C11 16.7524 10.7529 17.1642 10.2071 17.71C10.0029 17.9142 10 17.9191 10 18.0029L9.98276 18.1878C9.97136 18.2484 9.97136 18.405 9.98709 19.0596C9.99432 19.3607 9.99844 19.599 9.99963 19.848C10.0116 19.8996 10.0134 19.9328 10.0172 20.0036Z" fill="#fff"/>
          </svg>
        </span>
      </a>
    </li>
  <% end %>
  </ul>
</nav>